
*{
  cursor: pointer;
}

.container{
  background-color: var(--white-color);
  border-radius: 10px;
  align-items: center;
  display: flex;
  margin: 10px;
}

.icon .material-symbols-outlined {
  font-size: 1.5rem;
  position: relative;
  padding: 5px;
  left: 8px;
}

.input{
  background-color: var(--white-color);
  font-size: 1rem;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 100%;
}
