
*{
  cursor: pointer;
}

.container{
  background-color: var(--white-color);
  border-radius: 24px;
  align-items: center;
  display: flex;
  margin: 10px;
  gap: 8px;
}

.icon .material-symbols-outlined {
  font-size: 30px;
  margin: 10px;
}

.input{
  width: 100%;
}
