<app-auth-layout mode="register">
  <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input
      class="auth-input"
      data-cy="register-email"
      formControlName="email"
      type="email"
      placeholder="Email"
      required
    />

    <input
      class="auth-input"
      data-cy="register-password"
      formControlName="password"
      type="password"
      placeholder="Senha"
      required
    />

    <input
      class="auth-input"
      data-cy="register-confirm-password"
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirmar senha"
      required
    />

    <app-button data-cy="register-submit" label="Registrar" type="submit" />

    @if (errorMessage()) {
      <p data-cy="register-error-message" class="message error">{{ errorMessage() }}</p>
    }

    @if (successMessage()) {
      <p data-cy="register-success-message" class="message success">{{ successMessage()}}</p>
    }
  </form>
</app-auth-layout>
