form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  min-width: 75%;
}

input {
  width: 100%;
  padding: max(0.5rem, 2.5%) 1rem;
  font-size: 1em;
  border: 2px solid var(--gray-color-200);
  border-radius: 5px;
  outline: none;
}

input:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color-opacity-50);
}

.message {
  font-weight: bold;
  align-self: center;
  font-size: clamp(0.5rem, calc(1vw + 1rem), 1rem);
}

.error {
  color: red;
}

.success {
  color: green;
}
