<app-auth-layout mode="register">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input
      data-cy="register-email"
      formControlName="email"
      type="email"
      placeholder="Email"
      required
    />

    <input
      data-cy="register-password"
      formControlName="password"
      type="password"
      placeholder="Senha"
      required
    />

    <input
      data-cy="register-confirm-password"
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirmar senha"
      required
    />

    <app-button data-cy="register-submit" label="Registrar" type="submit"/>

    @if (errorMessage) {
      <p data-cy="register-error-message" class="message error">{{ errorMessage }}</p>
    }

    @if (successMessage) {
      <p data-cy="register-success-message" class="message success">{{ successMessage }}</p>
    }
  </form>
</app-auth-layout>
