main {
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
}

section {
  background-color: var(--white-color);
  box-shadow: 2px 2px 10px var(--black-color-opacity-50);
  border-radius: 20px;
  padding: max(2rem, 2.5%);
  display: flex;
  min-height: 80%;
  min-width: 50%;
  position: relative;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
}

img {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150px;
  height: auto;
}

@media (max-width: 800px) {
  img {
    top: -30px;
    left: -30px;
    width: 120px;
  }
}
