header {
  border-bottom: 2px solid var(--background-color);
  box-shadow: 2px 2px 10px var(--primary-color);
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 75px;
  padding: 0 32px;
}

.header__brand-logo {
  position: absolute;
  top: -35px;
  left: -40px;
  width: 110px;
  height: auto;
}

.header__brand-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--font-color);
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-left: 38px;
  padding: 15px;
}

.header__content{
  display: flex;
  align-items: center;
  gap: 32px;
}
