.task-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  background: transparent;
}

.task-item:hover {
  border-bottom: 2px solid var(--white-color-opacity-50);
  border-radius: 5px;
  cursor: grab;
}

.task-item__title {
  font-size: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
