.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 0 10px;
  gap: 5px;
}

.task-item:hover {
  border-bottom: 2px solid var(--white-color-opacity-50);
  border-radius: 5px;
  cursor: grab;
  opacity: 1;
}

.task-item__content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  gap: 5px;
  flex: 1;
}

.task-item__icon {
  font-size: 1.30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-item__title {
  font-size: 1.30rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.task-item__checkbox {
  opacity: 0;
}

.task-item:hover .task-item__checkbox {
  opacity: 1;
}

::ng-deep .mdc-checkbox__background {
  border-radius: 25%;
}

.completed,
.completed .task-item__title,
.completed ::ng-deep .mdc-checkbox__background {
  color: var(--font-color-opacity-50);
}

.completed .task-item__title{
  text-decoration: line-through;
}
