# Database Settings
DB_NAME=dailylist
DB_HOST=database
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT_INTERNAL=5432
DB_PORT_EXTERNAL=2812

# Backend Settings
BACKEND_PORT_INTERNAL=8080
BACKEND_PORT_EXTERNAL=8080