# Database Settings
DB_NAME=dailylist
DB_HOST=database
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT_INTERNAL=5432
DB_PORT_EXTERNAL=2812

# Backend Settings
BACKEND_PORT_INTERNAL=8080
BACKEND_PORT_EXTERNAL=8080

# Default Administrator Credentials
ADMIN_EMAIL=admin@teste.com
ADMIN_PASSWORD=1234@admin

# JWT Security Settings
JWT_PUBLIC_KEY=classpath:keys/app.pub
JWT_PRIVATE_KEY=classpath:keys/app.key