<header class="task-details__header">
  <h1 class="task-details__date">
    {{ taskTargetDate() | date: 'EEEE, d MMM yyyy' }}
  </h1>

  <div class="task-details__toolbar">
    <app-icon-button
      mat-dialog-close
      icon="delete"
      ariaLabel="Excluir tarefa"
      (clicked)="onDelete()"
    />

    <app-icon-button
      [matMenuTriggerFor]="actionsMenu"
      ariaLabel="Abrir menu de ações"
      icon="more_horiz"
    />
  </div>
</header>

<main class="task-details__content" [class.completed]="taskIsDone()">
  <input
    type="text"
    class="task-details__input"
    [(ngModel)]="taskTitle"
    placeholder="Título da tarefa"
  />
  <mat-checkbox [checked]="taskIsDone()" (change)="onChecked()" />
</main>

<footer class="task-details__footer">
  <div class="task-details__format-bar">
    <app-icon-button icon="format_bold" ariaLabel="Negrito" [isActive]="true" />
    <app-icon-button icon="format_italic" ariaLabel="Itálico" [isActive]="true" />
    <app-icon-button icon="format_clear" ariaLabel="Limpar formatação" />
  </div>

  <textarea
    class="task-details__textarea"
    placeholder="Adicione notas aqui..."
    [(ngModel)]="taskDescription"
  >
  </textarea>
</footer>

<mat-menu #actionsMenu="matMenu" xPosition="before">
  <button type="button" mat-menu-item (click)="rescheduleTask(tomorrow)">
    <mat-icon>arrow_right_alt</mat-icon>
    <span>Amanhã</span>
  </button>
  <button type="button" mat-menu-item (click)="rescheduleTask(nextWeek)">
    <mat-icon>event_upcoming</mat-icon>
    <span>Próx. semana</span>
  </button>
  <button type="button" mat-dialog-close mat-menu-item (click)="duplicateTask()">
    <span>Duplicar</span>
    <mat-icon>content_copy</mat-icon>
  </button>
</mat-menu>
