::ng-deep .mat-mdc-dialog-surface {
  box-shadow: 2px 2px 10px var(--tertiary-50);
  background-color: white;
  overflow: hidden;
  width: 80vw;
  min-height: 60vh;
  padding: 25px 20px;
  border-radius: 10px;
  display: flex;
  gap: 16px;
}

.task-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  background-color: var(--gray-3);
  border-radius: 10px;
  opacity: 0.8;
}

.task-details__toolbar {
  --btn-icon-size: 1.25rem;
  --btn-bg: var(--gray-3);
  --btn-icon-color: var(--tertiary);
  --btn-radius: 10px;
  display: flex;
  gap: 10px;
}

.task-details__footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  gap: 10px;
}

::ng-deep .mat-mdc-menu-item:hover {
  color: var(--tertiary-50);
}

::ng-deep .mat-mdc-menu-panel {
  background-color: white !important;
  border: 1.5px solid var(--tertiary-50);
  border-radius: 10px !important;
}
