::ng-deep .mat-mdc-dialog-surface {
  box-shadow: 2px 2px 10px var(--tertiary-50);
  background-color: white;
  overflow: hidden;
  width: 80vw;
  min-height: 52.5vh;
  padding: 25px 20px;
  border-radius: 10px;
  display: flex;
  gap: 16px;
}

.task-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-details__date {
  font-size: 1.8rem;
}

.task-details__date::first-letter {
  text-transform: uppercase;
}

.task-details__toolbar {
  --btn-icon-size: 1.25rem;
  --btn-bg: var(--gray-3);
  --btn-icon-color: var(--tertiary);
  --btn-radius: 10px;
  display: flex;
  gap: 10px;
}

.task-details__content {
  display: flex;
  border-bottom: 2px solid var(--tertiary);
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-checkbox {
  transform: scale(1.25);
}

.task-details__title-input {
  background-color: white;
  width: 100%;
  padding: 10px 0px;
  font-size: 1.75rem;
}

.completed,
.completed .task-details__title-input,
.completed ::ng-deep .mdc-checkbox__background,
.completed ::ng-deep .mdc-checkbox__checkmark-path {
  color: var(--tertiary-50);
}

.completed.task-details__content {
  border-bottom: 2px solid var(--tertiary-50);
}

.task-details__footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  gap: 10px;
}

.task-details__format-bar {
  --btn-icon-color: var(--tertiary);
  --btn-active-icon: var(--tertiary);
  --btn-active-bg: var(--secondary);
  --btn-icon-size: 1.25rem;
  --btn-bg: transparent;
  --btn-padding: 5px;
  --btn-radius: 25%;
}

.task-details__link-wrapper {
  background: var(--gray-1);
  border: 2px solid var(--gray-2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 5px;
  justify-content: space-between;
}

.task-details__link-input {
  background: transparent;
  line-height: 1.2;
  margin-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.input-icon {
  font-size: 16px;
  width: 16px;
  height: auto;
  cursor: pointer;
  transition: color 0.2s;
  margin-right: 5px;
}

.input-icon:hover {
  color: var(--tertiary-50);
}

.task-details__textarea {
  background: var(--gray-1);
  border: 2px solid var(--gray-2);
  border-radius: 10px;
  overflow: auto;
  resize: none;
  padding: 10px 5px;
  font-size: 1.25rem;
  line-height: 1.2;
  width: 100%;
  flex-grow: 1;
  flex: 1;
}

.task-details__textarea::-webkit-scrollbar {
  width: 0px;
}

.task-details__format-bar {
  display: flex;
  gap: 10px;
}

::ng-deep .mat-mdc-menu-item:hover {
  color: var(--tertiary-50);
}

::ng-deep .mat-mdc-menu-panel {
  background-color: white !important;
  border: 1.5px solid var(--tertiary-50);
  border-radius: 10px !important;
}
