<header class="task-details__header">
  <h1 class="task-details__date">
    {{ targetDate | date: 'EEEE, d MMM yyyy' }}
  </h1>

  <div class="task-details__toolbar">
    <button type="button" class="task-details__button" aria-label="Excluir tarefa">
      <mat-icon fontIcon="delete" />
    </button>

    <button type="button" class="task-details__button" aria-label="Mudar cor">
      <mat-icon fontIcon="circle" />
    </button>

    <button type="button" class="task-details__button" aria-label="Atribuir pessoa">
      <mat-icon fontIcon="person_add_alt" />
    </button>

    <button type="button" class="task-details__button" aria-label="Mais opções">
      <mat-icon fontIcon="more_horiz" />
    </button>
  </div>
</header>

<main class="task-details__content" [class.completed]="taskIsDone()">
  <input
    type="text"
    class="task-details__input"
    [(ngModel)]="taskTitle"
    placeholder="Título da tarefa"
  />
  <mat-checkbox [checked]="taskIsDone()" (change)="onChecked()" />
</main>

<footer class="task-details__footer">
  <div class="task-details__format-bar">
    <button
      type="button"
      class="task-details__format-button"
      [aria-label]="!taskLink() ? 'Editar link' : 'Inserir link'">
      <mat-icon [fontIcon]="!taskLink() ? 'add_link' : 'insert_link'" />
    </button>

    <button type="button" class="task-details__format-button" aria-label="Negrito">
      <mat-icon fontIcon="format_bold" />
    </button>

    <button type="button" class="task-details__format-button" aria-label="Itálico">
      <mat-icon fontIcon="format_italic" />
    </button>

    <button type="button" class="task-details__format-button" aria-label="Limpar formatação">
      <mat-icon fontIcon="format_clear" />
    </button>

    <button type="button" class="task-details__format-button" aria-label="Lista com marcadores">
      <mat-icon fontIcon="format_list_bulleted" />
    </button>
  </div>

  <textarea
    class="task-details__textarea"
    placeholder="Adicione notas aqui..."
    [(ngModel)]="taskDescription"
  >
  </textarea>
</footer>
