<app-actions-menu #actions [task]="_task()" />

<header class="task-details__header">
  <app-date-picker [(date)]="taskTargetDate" />

  <div class="task-details__toolbar">
    <app-icon-button
      icon="delete"
      mat-dialog-close
      ariaLabel="Excluir tarefa"
      (clicked)="onDelete()"
    />

    <app-icon-button
      [matMenuTriggerFor]="actions.instance"
      ariaLabel="Abrir menu de ações"
      icon="more_horiz"
    />
  </div>
</header>

<app-title-input [(title)]="taskTitle" [(completed)]="taskIsDone" />

<footer class="task-details__footer">
  <app-format-bar
    [(bold)]="isBold"
    [(italic)]="isItalic"
    [(link)]="taskLink"
  />

  <app-text-editor
    [(text)]="taskDescription"
    [placeholder]="'Adicione notas aqui...'"
    [(bold)]="isBold"
    [(italic)]="isItalic"
  />
</footer>

