.task-details__header {
  display: flex;
  justify-content: space-between;
}

.task-details__date {
  font-size: 1.5rem;
}
.task-details__date::first-letter {
  text-transform: uppercase;
}

.task-details__toolbar{
  display: flex;
  gap: 10px;
}
