<main class="auth-wrapper">
  <section class="auth-card">
    <header class="auth-header">
      <img class="auth-logo" src="assets/icons/logo.png" alt="Girassol" />
      <h1 class="auth-brand">Dailylist</h1>

      @if (mode === 'login') {
        <h2 class="auth-subtitle">Bem-vindo de volta!</h2>
      } @else {
        <h2 class="auth-subtitle">Crie sua conta e junte-se a nós!</h2>
      }
    </header>

    <ng-content />

    <footer class="auth-footer">
      @if (mode === 'login') {
        <p class="auth-footer-text">
          Não tem uma conta?
          <a class="auth-link" routerLink="/auth/register">Cadastre-se</a>
        </p>
        <a class="auth-link" routerLink="/home"> Esqueci minha senha </a>
      } @else {
        <p class="auth-footer-text">
          Já tem uma conta?
          <a class="auth-link" routerLink="/auth/login">Entrar</a>
        </p>
      }
    </footer>
  </section>
</main>
