.auth-wrapper {
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-card {
  background-color: white;
  box-shadow: 2px 2px 10px var(--black-color-opacity-50);
  border-radius: 20px;
  padding: max(2rem, 2.5%);
  min-height: 70%;
  min-width: 40%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
}

.auth-header,
.auth-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.auth-logo {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150px;
  height: auto;
  opacity: 1;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

@media (max-height: 600px) and (max-width: 1100px), (max-width: 200px) and (min-height: 800px) {
  .auth-logo {
    opacity: 0;
  }
}

@media (max-height: 720px) {
  .auth-logo {
    transform: translate(-20px, -20px) scale(1);
  }
}

.auth-brand {
  font-weight: bold;
  font-size: clamp(2rem, calc(5vw + 2.5rem), 5rem);
  letter-spacing: 2px;
}

.auth-subtitle {
  font-size: clamp(1rem, calc(2.25vw + 0.5rem), 1.1rem);
}

.auth-footer-text {
  font-size: clamp(0.5rem, calc(1vw + 1.2rem), 1rem);
}

.auth-link {
  color: var(--font-color);
  font-size: clamp(0.5rem, calc(1vw + 1.15rem), 1rem);
  text-decoration: none;
}

.auth-link:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
