<main class="auth-wrapper">
  <section class="auth-card">
    <header class="auth-header">
      <img class="auth-logo" src="assets/icons/logo.png" alt="Girassol" />
      <h1 class="auth-brand">Dailylist</h1>
      <h2 class="auth-subtitle">
        {{ mode === 'login' ? 'Bem-vindo de volta!' : 'Crie sua conta e junte-se a nós!' }}
      </h2>
    </header>

    <ng-content />

    <footer class="auth-footer">
      <p class="auth-footer-text">
        {{ mode === 'login' ? 'Não tem uma conta?' : 'Já tem uma conta?' }}
        <a class="auth-link" [routerLink]="targetRoute">{{ linkText }}</a>
      </p>

      <p class="app-credits">
        Feito com <3 por <a target="_blank" [href]="githubUrl">mvsilvass</a>
      </p>
    </footer>
  </section>
</main>
