.task-input{
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  margin-top: 2.5%;
  border-radius: 5px;
}

.task-input:hover{
  border-bottom: 2px solid var(--white-color-opacity-50);
}

.task-input:focus{
  background-color: var(--background-color);
}
