.task-input {
  background-color: var(--gray-1);
  width: 100%;
  padding: 10px;
  font-size: 1.30rem;
  margin-top: 2.5%;
  border-radius: 5px;
}

.task-input:hover,
.task-input:focus {
  border-bottom: 1.5px solid var(--primary);
  background-color: var(--gray-2-50);
}

