.task-board{
  background-color: var(--background-color);
  color: var(--font-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
}

.task-board__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-board__actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.task-board__month{
  font-size: 2rem;
  font-weight: bold;
}
