.task-column {
  background-color: var(--primary-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 5px;
}

.task-column__header {
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 2rem);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
}

.date-group {
  display: flex;
  gap: 5px;
}

.task-column__list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

.task-column__content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  border-bottom: 2px solid var(--white-color-opacity-50);
  background: var(--white-color-opacity-50);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 5px;
  z-index: 10;
  order: 1;
}

.cdk-drag-preview {
  background: var(--primary-color-opacity-50);
  border-bottom: 2px solid var(--white-color-opacity-50);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.cdk-drop-list-dragging,
.cdk-drag-animating {
  cursor: grabbing;
}

.task-column__item {
  order: 1;
}

.task-column__input {
  z-index: 1;
  order: 10;
}
