.footer {
  border-top: 2px solid var(--background-color);
  box-shadow: 0 -1px 5px var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: var(--font-color);
  height: 75px;
  position: relative;
  overflow: hidden;
  padding: 0 32px;
}

.footer__credits {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__author{
  margin-left: 2px;
}

.footer__author a {
  position: relative;
  color: var(--font-color);
  padding-bottom: 2px;
  overflow: hidden;
}

.footer__author a {
  position: relative;
}

.footer__author a:hover{
  font-weight: bold;
  overflow: hidden;
}

.footer__author a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--font-color);
  border-radius: 2px;
  opacity: 0;
  transform: scale(0);
  transition: transform 300ms;
}

.footer__author a:hover::before,
.footer__authora:focus::before{
  opacity: 1;
  transform: scale(1);
  transform-origin: left;
}

.footer__rights {
  opacity: 0.8;
  font-size: 1rem;
}

.footer__info {
  display: flex;
  align-items: center;
}

.footer__socials {
  display: flex;
  gap: 1rem;
}

.social-icon {
  width: 28px;
  height: 28px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.15);
  opacity: 0.8;
}
