footer{
  box-shadow: 2px 2px 10px var(--gray-color-300);
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 70px;
}

img{
  position: absolute;
  bottom: -40px;
  right: -40px;
  width: 110px;
  height: auto;
}
