.card {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  width: 125px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 1.5rem;
  color: var(--font-color);
  margin-bottom: 15px;
  font-weight: bold;
}

.description {
  font-size: 1rem;
}
