main {
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background-color: var(--white-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  padding: 4em;
  height: 75%;
  width: 40%;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

img{
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150px;
  height: auto;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 4em;
  align-self: center;
}

p {
  font-size: 1em;
  align-self: center;
}

form {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  width: 80%;
}

form input {
  padding: 0.8em 1em;
  font-size: 1em;
  border: 2px solid var(--gray-color);
  border-radius: 5px;
  outline: none;
}

form input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
}

form button {
  padding: 0.8em 1em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--button-color);
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: var(--button-hover-color);
}

div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div a{
  color: var(--font-color);
  text-decoration: none;
  align-self: center;
}

div a:hover{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
