a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--font-color);
  font-weight: 400px;
  font-size: 1.15rem;
  margin-left: 32px;
  font-weight: 300;
  position: relative;
  margin-bottom: 5px;
}

a:hover{
  font-weight: bold;
}

a:hover::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--font-color);
  border-radius: 2px;
}
