.icon-button{
  background-color: var(--primary-color);
  align-items: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
}

.icon-button:hover{
  cursor: pointer;
  background-color:  hsl(from var(--primary-color) h s l / 0.5);
}

.material-icons{
  color: var(--font-color);
  font-size: 2rem;
}

.material-icons:hover{
  opacity: 0.85;
}
