.icon-button {
  background-color: var(--font-color);
  align-items: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
}

.icon-button:hover {
  background-color: var(--font-color-opacity-50);
  cursor: pointer;
}

.material-icons {
  color: var(--primary-color);
  font-size: 2rem;
}

.material-icons:hover {
  opacity: 0.85;
}
