.icon-button {
  background-color: var(--font-color);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  padding: 10px;
}

.icon-button:hover,
.material-icons:hover {
  cursor: pointer;
  opacity: 0.85;
}

.material-icons {
  color: var(--primary-color);
  font-size: 2rem;
}
