<app-authentication-layout>
  <div>
    <h1>Dailylist</h1>
    <h2>Crie sua conta e junte-se a nós!</h2>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input formControlName="username" type="text" placeholder="Username" required>
    <input formControlName="email" type="email" placeholder="Email" required>
    <input formControlName="password" type="password" placeholder="Senha" required>
    <input formControlName="confirmPassword" type="password" placeholder="Confirmar senha" required>
    <button type="submit">Registrar</button>

    @if (errorMessage) {
      <p class="message error">{{ errorMessage }}</p>
    }

    @if (successMessage) {
      <p class="message success">{{ successMessage }}</p>
    }

  </form>

  <div>
    <p>
      Já tem uma conta? <a href="auth/login">Entrar</a>
    </p>
  </div>
</app-authentication-layout>
