button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: max(0.5rem, 2.5%) 1rem;
  font-size: 1.15em;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(from var(--primary-color) h s l / 0.8);
}
