.home {
  color: var(--font-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__content {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 32px;
  align-items: center;
  flex: 1;
}

.container-cards{
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}
