.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-page__main {
  background-color: var(--gray-color-50);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home-page__heading {
  color: var(--font-color);
  font-size: 5rem;
}
