.home {
  color: var(--font-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__main {
  background-color: var(--background-color);
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 32px;
  flex: 1;
}

.hero__content{
  text-align: center;
}

.hero__title{
  font-size: 5rem;
}

.hero__subtitle{
  font-size: 2.5rem;
}

.features{
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}
