.home-page {
  background-color: var(--secondary-color);
  min-height: 100dvh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page__title{
  font-size: 5rem;
}
