.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__content {
  background-color: var(--gray-color-50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.home__title {
  color: var(--font-color);
  font-size: 5rem;
  text-align: center;
}

.home__illustration {
  border-radius: 100px;
  max-width: 50%;
  height: auto;
}
