:root {
  --black-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
  --gray-color: hsl(0, 0%, 80%);

  --primary-color: hsl(42, 92%, 54%);
  --secondary-color: hsl(from var(--primary-color) h s 70%);
  --font-color: hsl(from var(--primary-color) h 30% 21%);

  --background-color: var(--secondary-color);

  --primary-color-opacity-50: hsl(from var(--primary-color) h s l / 0.5);
  --black-color-opacity-50: hsl(from var(--black-color) h s l / 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body{
  background-color: var(--background-color);
}
