:root {
  --primary-color: #FFF2CC;
  --background-color: #EBD5AB;
  --font-color: #443627;

  --black-color: #000;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--background-color);
}
