:root {
  --primary-color: #FFF2CC;
  --background-color: #EBD5AB;
  --font-color: #443627;

  --black-color: #000;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--background-color);
}
.button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
  
.btn-primary {
  background-color: var(--primary-color);
  color: white;
}
