:root {
  --primary-color: hsl(42, 92%, 54%);
  --secondary-color: hsl(from var(--primary-color) h s 70%);
  --background-color: var(--secondary-color);

  --gray-color-50: hsl(0, 0%, 98%);
  --gray-color-200: hsl(0, 0%, 88%);
  --gray-color-300: hsl(0, 0%, 80%);

  --font-color: hsl(from var(--primary-color) h 30% 21%);

  --primary-color-opacity-50: hsla(42, 92%, 54%, 0.5);
  --black-color-opacity-50: rgba(0, 0, 0, 0.5);
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  --sb-track-color: #f6b51e;
  --sb-thumb-color: #ffffff;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
