:root {
  --primary-color: hsl(42, 92%, 54%);
  --secondary-color: hsl(from var(--primary-color) h s 70%);
  --background-color: var(--secondary-color);

  --font-color: hsl(from var(--primary-color) h 30% 21%);
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
