div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: clamp(2rem, calc(5vw + 2.5rem), 5rem);
  letter-spacing: 2px;
}

h2 {
  font-size: clamp(1rem, calc(2.25vw + 0.5rem), 1.10rem);
}

p {
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 1rem);
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  min-width: 75%;
}

form input {
  padding: max(0.5rem, 2.5%) 1rem;
  font-size: 1em;
  border: 2px solid var(--gray-color);
  border-radius: 5px;
  outline: none;
}

form input:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color-opacity-50);
}

form button {
  padding: max(0.5rem, 2.5%) 1rem;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: hsl(from var(--primary-color) h s l / 0.8);
}

div a {
  color: var(--font-color);
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 1rem);
  text-decoration: none;
}

div a:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.message{
  font-weight: bold;
  align-self: center;
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 1rem);
}

.error {
  color: red;
}

.success {
  color: green;
}
