<section class="task-board">
  <header class="task-board__header">
    <p class="task-board__month">{{ currentMonth | titlecase }} {{ currentYear }}</p>

    <div class="task-board__actions">
      <app-icon-button
        icon="arrow_back_ios_new"
        ariaLabel="Ir para a semana anterior"
        (clicked)="goTopreviousWeek()"
      />

      <app-icon-button
        icon="arrow_forward_ios"
        ariaLabel="Ir para a próxima semana"
        (clicked)="goToNextWeek()"
      />

      <app-icon-button icon="person" ariaLabel="Abrir perfil do usuário" />
      <app-icon-button icon="logout" ariaLabel="Sair da conta" (clicked)="doLogout()" />
    </div>
  </header>

  @for (date of weekDays(); track date) {
    <!-- <app-task-column [date]="day" [tasks]="getTasksForDate(day)" /> -->
    <app-task-column [date]="date"/>
  }

  <div>{{ currentWeek | date: 'fullDate' }}</div>

  @for (task of tasks(); track task.id) {
    <p>{{task.title}}</p>
    <!-- <app-task-item [task]="task"/> -->
  }

  <!-- <app-task-input (taskAdded)="onNewTask($event)"/> -->

</section>
