name: End-to-end tests
on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
              run: npm install

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./dailylist
          record: false 
          build: npm run build
          start: npm start 
          wait-on: 'http://localhost:4200'
          wait-on-timeout: 120
          config: baseUrl=http://localhost:4200