name: End-to-end tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Install dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build Angular app
        working-directory: ./frontend
        run: npm run build

      - name: Start Angular server
        run: npm start &

      - name: Wait for server
        run: npx wait-on http://localhost:4200

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./frontend
          browser: electron